@media(max-width: 1280px) {
    
    .cabecalho {
        padding: 30px;
    }

    .home {
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
        gap: 30px;
    }

    .home .informacoes {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .projetos .container-projetos {
        padding: 0 30px;
    }

    .section_sobremim {
        padding: 30px;
    }

    .section_tecnologias {
        padding: 30px;
    }

    .section_tecnologias .titulo{
        text-align: center;
        font-size: 35px;
        margin-left: 10%;
    }

    .section_tecnologias .div_imagem_tecnologia img{
        max-width: 100%;
    }
}

@media(max-width: 425px) {
    .home .informacoes h1 {
        font-size: 30px;
    }

    .home .informacoes p {
        font-size: 16px;
    }

    .home .container-foto img {
        max-width: 320px;
    }

    .projetos {
        padding: 30px;
    }

    .projetos .titulo{
        font-size: 35px;
        text-align: center;
    }

    .section_sobremim {
        padding: 30px;
    }

    .section_sobremim .titulo{
        text-align: center;
        font-size: 35px;
    }

    .section_tecnologias {
        padding: 30px;
    }

    .section_tecnologias .titulo{
        text-align: center;
        font-size: 35px;
        margin-left: 10%;
    }

    .section_tecnologias .div_imagem_tecnologia {
        justify-content: center;
        flex-direction: column;
        margin-left: 100px;
    }

    .section_tecnologias .div_imagem_portfolio {
        width: 50%;
    }

    .text-animation span::after {
        height: 50%; /* Reduz a altura da borda para dispositivos menores */
    }
}